extends layout

block content  
	h1 I now have different users!
	if (!user)
		a(href="/login") Login
		br
		a(href="/register") Register
	if (user)
		p Are you #{user.username}?
		a(href="/logout") Logout

	script(src='http://code.jquery.com/jquery.js')
	script(src='js/bootstrap.min.js')
