extends layout

block content  
  h1 New!
  br
  form(role='form', action="/trips/new",method="post", style='max-width: 300px;')
    .form-group
        input.form-control(type='text', name="name", placeholder='Name')

    button.btn.btn-default(type='submit') Submit