!!! 5
html(lang='en')
head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css', rel='stylesheet')
		link(href='../public/css/style.css', rel='stylesheet')
	body




		.container
			.col-md-12
				.navbar.navbar-default(role='navigation')
					.container-fluid
						.navbar-header
							a.navbar-brand(href='#') #{trip.tripName}
						.navbar-collapse.collapse
							ul.nav.navbar-nav
								li.active
									a(href='#') Start #{trip.start}
								li
									a(href='#') End #{trip.end}
			.row-fluid
				.row
					.col-md-9
						.middleHeight			
							img(src="http://lorempixel.com/1500/600/abstract/2")
							.middletext.carousel-caption
								h1 Changes to the Grid
								p
									| Bootstrap 3 still features a 12-column grid, but many of the CSS class names have completely changed.
								p
									a.btn.btn-large.btn-primary(href="#") Learn more



					.col-md-3
						.middleHeight
							.chat
								.chat-messages
								input.chat-sms(type='text', placeholder='Text Your Message...')


				br
				br
				br
				.span8
					.col-md-12
						#myCarousel.carousel.slide
							.carousel-inner
								.item.active
									.row
										-each candidateHotel in trip.candidateHotels
											.col-sm-2.col-xs-2
												a.thumbnail(href='#5 col-xs-5')
														img.img-responsive(src='#{candidateHotel.thumbnailURL}', alt='Image')


 

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js')
		script(src='../public/js/customized.js')

