!!! 5
html(lang='en')
head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css', rel='stylesheet')
		link(href='../public/css/style.css', rel='stylesheet')

		script(src='/socket.io/socket.io.js')
		script
			var socket = io.connect();

			socket.on('connect', function () {
				$('.chat').addClass('connected');
			});

			socket.on('announcement', function (msg) {
				$('#lines').append($('<p>').append($('<em>').text(msg)));
			});

			socket.on('nicknames', function (nicknames) {
				$('#nicknames').empty().append($('<span>Online: </span>'));
				for (var i in nicknames) {
					$('#nicknames').append($('<b>').text(nicknames[i]));
				}
			});

			socket.on('user message', message);
			socket.on('reconnect', function () {
				$('#lines').remove();
				message('System', 'Reconnected to the server');
			});

			socket.on('reconnecting', function () {
				message('System', 'Attempting to re-connect to the server');
			});

			socket.on('error', function (e) {
				message('System', e ? e : 'A unknown error occurred');
			});

			function message (from, msg) {
				$('#lines').append($('<p>').append($('<b>').text(from), msg));
			}

			// dom manipulation
			$(function () {
				$('#set-nickname').submit(function (ev) {
					socket.emit('nickname', $('#nick').val(), function (set) {
						if (!set) {
							clear();
							return $('.chat').addClass('nickname-set');
						}
						$('#nickname-err').css('visibility', 'visible');
					});
					return false;
				});

				$('#send-message').submit(function () {
					message('me', $('#message').val());
					socket.emit('user message', $('#message').val());
					clear();
					$('#lines').get(0).scrollTop = 10000000;
					return false;
				});

				function clear () {
					$('#message').val('').focus();
				};
			});





	body




		.container
			.col-md-12
				.navbar.navbar-default(role='navigation')
					.container-fluid
						.navbar-header
							.navbar-brand
								#{trip.tripName}
						.navbar-collapse.collapse
							ul.nav.navbar-nav
								li
									a(href='#') Check-in: #{trip.start}
								li
									a(href='#') Check-out: #{trip.end}
			.row-fluid
				.row
					.col-md-9
						.middleHeight			
							img(src="http://lorempixel.com/1500/600/abstract/2")
							.middletext.carousel-caption
								h1 Where we will stay...
								p
									| Delete one of the following hotel, or single click to learn more about hotel.
								br
								p
									a.btn.btn-large.btn-primary(href="#") Learn more



					.col-md-3
						.middleHeight
							.chat
								form.send-message
									input.message(type='text', placeholder='Text Your Message...')


				br
				br
				br
				.span8
					.col-md-12
						#myCarousel.carousel.slide
							.carousel-inner
								.item.active
									.row
										-each candidateHotel in trip.candidateHotels
											.col-sm-2.col-xs-2
												a.thumbnail(href='#5 col-xs-5')
														img.img-responsive(src='#{candidateHotel.thumbnailURL}', alt='Image')


 

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js')
		script(src='../public/js/customized.js')
		script(src='/socket.io/socket.io.js')


